<!--
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Restablecer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
-->
<ion-header>
  <ion-toolbar color="primary">

    <ion-button slot="end" fill="clear" [routerLink]="['/login']">
      <ion-icon name="close-circle-outline" size="large" color="light"></ion-icon>
    </ion-button>

    <ion-title>Restablecer {{password}} {{email}}</ion-title>

  </ion-toolbar>



</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Restablecer Contraseña</ion-card-title>
    </ion-card-header>
    <br>
    <ion-card-content>
      <!--<form [formGroup]="formularioRegistro" (keyup.enter)="guardar()">-->
      <!-- <form (ngSubmit)="restablecerPassword( fReset )"  #fReset="ngForm"> -->



        <form #formulario="ngForm" (ngSubmit)="restablecerPassword()">

          <ion-list-header>
            <ion-label>Formulario Valido {{formulario.invalid}}</ion-label>
          </ion-list-header>


          <ion-item>
            <ion-label position="floating">Email Usuario</ion-label>
            <ion-input
              type="email"
              name="email"
              [(ngModel)]="usuario.email"
              pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
              required>
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>

            <ion-input
              type="password"
              name="password"
              [(ngModel)]="usuario.password"
              required>
            </ion-input>

          </ion-item>

          <br>


          <ion-button [disabled]="formulario.invalid" type="submit" expand="block">
            Restablecer
          </ion-button>

        </form>




    </ion-card-content>
  </ion-card>




</ion-content>
